.bgk{
 background-image: url('../../../static/images/Card.svg');
 background-size: cover;
 background-repeat: no-repeat; 
 background-position: center; 
width: 100%;

}
.bg{
 background-image: url('../../../static/images/post_bg.png');
 background-size: cover;
 background-repeat: no-repeat; 
 background-position: center; 
width: 100%;

}

